@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

html, body {
    margin:0; padding:0; width:100vw; height:100vh;
    font-size:0.90em; 
    letter-spacing: -0.09em;
    padding-top: 0px;
    line-height: 100%;
    font-family: 'Noto Sans KR', serif;
}

.container{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    padding:5px;
    padding-top:20px;
    padding-bottom:20px;
}
    /*상단 핸드폰 이름*/
    #head_phone_name{
        width:100%;
        text-align: center;
        border-top: solid 1px;
        border-bottom: solid 1px;
        padding: 10px;
    }
    /* 컨테이너 바디 */
    .container_body{
        display: flex;
        flex-flow: column nowrap;
        width:400px;
        height:442px;
        padding:5px;
        border-bottom:solid 1px;
    }
        /*컨테이너 바디 하단의 아이템바디*/
        .item_body{
            display: flex;
            flex-flow: row nowrap;
            flex:1;
            padding:10px;
            align-items: center;
        }
            .item_body>div{
                padding:5px;
                width:100%;
            }
            .item_left{
                flex:2.6;
            }
            .item_right{
                display: flex;
                flex-flow: row wrap;
                flex:7.5;
            }
            /* 월 납부급액 ui */
            .calc_ui{
                display: flex;
                width:100%;
                text-align: center;
            }
                .calc_ui>div:nth-child(1){flex:2;}
                .calc_ui>div:nth-child(2){flex:1;}
                .calc_ui>div:nth-child(3){flex:2;}
                .calc_ui>div:nth-child(4){flex:1;}
                .calc_ui>div:nth-child(5){flex:2;}

        /* 왼쪽 컨테이너 ( 이미지 노출) */
        #container_left{
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        #color_pick{
            display: flex;
            flex-flow: row wrap;
            width:300px;
            padding:10px;
            justify-content: center;
        }   

            /* 색상선택 이미지 */
            .color_pick_sub{
                width: 50px;
                padding:5px;
            }
                /* 가운데 정렬 */
                .color_pick_sub>div{
                    text-align: center;
                }
            /* 하단 텍스트*/
            .color_text{
                padding:5px;
            }

        /* 가운데 컨테이너 */
        #container_center{
            
            border-left: solid 1px;
            /* border-right: solid 1px; */
        }
            #container_center>.item_body{
                border-bottom:solid 1px;
                /* margin-top:20px; */
            }
        /* 오른쪽 컨테이너 ( 계산 ) */
        /* 어떤 요금제가 더 싼지 알려줌 */
        #compare_money{
            display: flex;
            flex-flow: column;
            text-align: center;
            border:0;
            flex:1.6;
            /* border-top:solid 1px; */
        }
            #compare1{
                display: flex;
                padding:0;
            }
                #compare1>div{
                    flex:1;
                    padding:14.5px;
                }
                #compare1>div>div{
                    flex:1;
                    /* padding:5px; */
                }
        #send_button{
            flex:2.3;
        }
            #order_button{
                background:hsl(239, 75%, 54%); 
                color:white; 
                padding:20px; 
                justify-content:center; 
                display:flex; 
                width:100%;
                cursor: pointer;
            }
                #order_button:hover{
                    background: #494EDD;
                }


/* pc 창크기 */
@media(min-width:1240px){
    #container_center{
        border-left: solid 1px;
        border-right: solid 1px;
    }
    #main_image {
        width:auto;
    }
/* 중간 창크기 */
}@media(min-width:847px) and (max-width:1240px){
    #container_right{
        border:0;
    }
    #main_image {
        width:auto;
    }
/* 모바일 창크기 */
}@media(max-width:847px){
    #container_center{
        border-left:0;
    }
    #main_image {
        width:85vw;
    }
}




/* 플롯메뉴 */
.float_banner{
    position: fixed;
    right:10px;
    bottom:10px;
}
    #scroll_menu{
        display: flex;
        flex-flow: column nowrap;
    }
        #scroll_menu>div:nth-child(1){
            background-color: #494EDD;
        }
            #scroll_menu>div:nth-child(1):hover{
                background-color: black;
            }
        #scroll_menu>div:nth-child(2){
            background-color:aqua;
        }
            #scroll_menu>div:nth-child(2):hover{
                background-color: red;
            }
    .scroll_menu_item{
        width:50px;
        height: 50px;
    }