@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

html, body {
    margin:0; padding:0; width:100%; height:100%;
    font-size:0.90em; 
    letter-spacing: -0.09em;
    padding-top: 0px;
    line-height: 100%;
    font-family: 'Noto Sans KR', serif;
}
#select_color{
    border:0;
}

#header{
    width:100%;
    border-bottom: 2px solid #CCCCCC;
    text-align: center;
    margin-top:10px;  
    margin-bottom:10px;  
    padding:10px;
    justify-content: center;

    font-weight: bold;
    font-size: 1.38em;
}

#calc_table{
    /* margin-left: 3%; */
    /* margin-right: 3%; */
}
.containner{
    display:flex;	
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}
#first_wrap{
    /* border-top: 1px solid #CCCCCC; */
    border-bottom: 2px solid #CCCCCC;
    width: auto;
    align-self: center;
}
@media(min-width:1210px){
    .containner>#containner_center{
        border-left: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
    }
    #phoneName{
        margin-right:150px;
    }
}@media(min-width:764px) and (max-width:1210px){
    /* .containner>#containner_right{
        margin-top:-110px;
    } */
    #phoneName{
        margin-right:0;
    }
}@media(max-width:764px){
    /* .containner>#containner_right{
        margin-top:-110px;
    }
    .containner>#containner_center{
        margin-top:-60px;
    }  */
    #phoneName{
        margin-right:0;
    }
}

.containner_item{
    height: 465px;
    min-height: 450px;
}
.containner>#containner_left{
    width:300px;
    display: flex;
    flex-flow: column nowrap;
}
.containner>#containner_center>div{
    margin-top:25px;
    /* margin-bottom:25px; */
    border-bottom:1px solid #CCCCCC;
    /* box-shadow: 0px 24px 3px -24px magenta; */
}

/* .containner>#containner_center{

    padding-top: 50px;
}*/
.containner>#containner_right{
    line-height: 1.5;
} 
.containner>#containner_right>div{
    margin-top:5px;
    margin-bottom:5px;    

}       
    .containner>#containner_right>div>.item_right{
        /* margin-left: 56%; */
    }

.containner_item{
    width:450px;
    margin-top:10px;
    margin-bottom:10px;
}
.containner_item>div{
    margin-left:10px;
    margin-right:10px;
    display:flex;	
    justify-content: center;
    flex-flow: row wrap;
    padding:10px;
}
.containner_item>div>.item_left{
    width:120px;
}
.containner_item div>.item_right{
    display:flex;	
    flex-flow: row wrap;
    flex: 1 1 20%;
}

#color_pick{
    align-self: center;
    text-align: center;
    width:310px;
    justify-content:flex-start;
}
#color_pick>.color_pick_sub>.color_text{
    width:100px;
    font-size: 0.84em;
    margin-top:1px;
    margin-bottom:5px;
}


/* calc_ui */
.calc_ui{
    display:flex;	
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
}
/* calc_ui */
.calc_tap:nth-child(1),.calc_tap:nth-child(3),.calc_tap:nth-child(5){/*,.calc_tap:nth-child(5),.calc_tap:nth-child(7){*/
    width:100px;
}
.calc_tap:nth-child(2),.calc_tap:nth-child(4){
    width:20px;
}



input[type='radio'] {
    -webkit-appearance:none;
    width:12px;
    height:12px;
    border:1px solid darkgray;
     border-radius:50%;
    outline:none;
    background:#e6e6e6;
  }
  input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;  
    border-radius:50%;  
  }
  input[type='radio']:checked:before {
  	background:#3235E2;
  }