#calc_table{
    margin-left:5%;
    margin-right:5%;
}
/* 맨 위 메인 컨테이너 */
.containner{
    /* flex 레이아웃*/
    display:flex;	
    flex-flow: row wrap;
    /* 메인 방향 정렬*/
    justify-content: center;
    /* 수직 방향 정렬*/
    align-items: flex-start;
    /* 수직방향 컨텐트들 정렬(창이 좁아졌을 때) */
    /* align-content: space-around; */
}

/* 왼쪽 컨테이너 */
.containner>#containner_left{
    display: flex;
    flex-flow: column nowrap;
}
/*가운데 컨테이너 */
.containner>#containner_center>div{
    margin-bottom:40px;
}
/* 오른쪽 컨테이너 */
.containner>#containner_right>div{
    margin-bottom:20px;
}

/* 왼쪽, 가운데, 오른쪽 컨테이너*/
.containner_item{
    width:400px;
    margin-top:20px;
}
/* containner_item의 아래에 있는 모든 div*/
.containner_item>div{
    display:flex;	
    justify-content: center;
    flex-flow: row wrap;
}
/* 각 containner_item의 왼쪽 아이템*/
.containner_item>div>.item_left{
    width:120px;
}
/* 각 containner_item의 오른쪽 아이템*/
.containner_item div>.item_right{
    display:flex;	
    flex-flow: row wrap;
    flex: 1 1 20%;
}

/* 색상 고르는곳*/
#color_pick{
    align-self: center;
    text-align: center;
    /* width:370px; */
}
/* 색상 고르는곳 아래 아래에 텍스트*/
#color_pick>.color_pick_sub>.color_text{
    width:100px;
}

/* 선약일 때 켜짐*/
#total_sale_contract{
    display: none;
}
/* 계산 ui*/
.calc_ui{
    display:flex;	
    justify-content: center;
    flex-flow: row wrap;
}
/* 계산 ui */
.calc_tap{
    margin-left:10px;
    margin-right: 10px;
}