@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

html, body {
    margin:0; padding:0; width:100%; height:100%;
    font-size:0.90em; 
    letter-spacing: -0.09em;
    padding-top: 0px;
    line-height: 100%;
    font-family: 'Noto Sans KR', serif;
}
#select_color{
    border:0;
}

#header{
    justify-content: center;
    max-width: 1400px;
    width:100%;
    border-bottom: 2px solid #CCCCCC;
    
    padding-left:10%;
    /* margin-left: 8%; */
    margin-top:10px;  
    margin-bottom:10px;  
    padding:10px;

    font-weight: bold;
    font-size: 1.38em;
}

#calc_table{
    display: flex;
    flex-flow: column nowrap;
}
/* 맨 위 메인 컨테이너 */
.containner{
    /* flex 레이아웃*/
    display:flex;	
    flex-flow: row wrap;
    /* 메인 방향 정렬*/
    justify-content: center;
    /* 수직 방향 정렬*/
    align-items: flex-start;
    /* 수직방향 컨텐트들 정렬(창이 좁아졌을 때) */
    /* align-content: space-around; */
}
#first_wrap{
    border-top: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    max-width: 1400px;
    align-self: center;
}
/* 맨 위 가로가 3칸 */
@media(min-width:1210px){
    /*가운데 컨테이너 */
    #containner_center{
        border-left: 2px solid #CCCCCC;
        border-right: 2px solid #CCCCCC;
    }
 /* 맨 위 가로가 2칸 */
}@media(min-width:764px) and (max-width:1210px){
    #header{
        max-width: 1400px;
        width:100%;
        border-bottom: 2px solid #CCCCCC;
        
        padding-left:18%;
        /* margin-left: 8%; */
        margin-top:10px;  
        margin-bottom:10px;  
        padding:10px;
        justify-content: left;
    
        font-weight: bold;
        font-size: 1.38em;
    }
    .containner>#containner_right{
        margin-top:-110px;
    }
/* 맨 위 가로가 1칸 */
}@media(max-width:764px){
    #header{
        justify-content: center;
        margin-left: 0;
    }
    .containner>#containner_right{
        margin-top:-110px;
    }
    #containner_center{
        margin-top:-60px;
    } 
}

.containner_item{
    /* height: 465px; */
    min-height: 450px;
}
/* 왼쪽 컨테이너 */
.containner>#containner_left{
    width:300px;
    display: flex;
    flex-flow: column nowrap;
}
/*가운데 컨테이너 */
#containner_center>div{
    margin-top:25px;
    margin-bottom:25px;
    border-bottom:2px solid #CCCCCC;
    /* box-shadow: 0px 24px 3px -24px magenta; */
}

#containner_center{

    padding-top: 50px;
}
.containner>#containner_right{

    padding-top: 50px;
}
/* 오른쪽 컨테이너 */
.containner>#containner_right>div{
    margin-top:5px;
    margin-bottom:5px;    

}       
    .containner>#containner_right>div>.item_right{
        /* margin-left: 56%; */
    }

/* 왼쪽, 가운데, 오른쪽 컨테이너*/
.containner_item{
    width:450px;
    margin-top:10px;
    margin-bottom:10px;
}
/* containner_item의 아래에 있는 모든 div*/
.containner_item>div{
    margin-left:10px;
    margin-right:10px;
    display:flex;	
    justify-content: center;
    flex-flow: row wrap;
    padding:10px;
}
/* 각 containner_item의 왼쪽 아이템*/
.containner_item>div>.item_left{
    width:120px;
}
/* 각 containner_item의 오른쪽 아이템*/
.containner_item div>.item_right{
    display:flex;	
    flex-flow: row wrap;
    flex: 1 1 20%;
}

/* 색상 고르는곳*/
#color_pick{
    align-self: center;
    text-align: center;
    width:310px;
    justify-content:flex-start;
}
/* 색상 고르는곳 아래 아래에 텍스트*/
#color_pick>.color_pick_sub>.color_text{
    width:100px;
    font-size: 0.84em;
    margin-top:1px;
    margin-bottom:5px;
}


/* 계산 ui*/
.calc_ui{
    display:flex;	
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
}
/* 계산 ui */
.calc_tap:nth-child(1),.calc_tap:nth-child(3),.calc_tap:nth-child(5){/*,.calc_tap:nth-child(5),.calc_tap:nth-child(7){*/
    width:100px;
}
.calc_tap:nth-child(2),.calc_tap:nth-child(4){
    width:20px;
}


